body {
  background-color: lightGray;
  font-family: "Lucida Console", Monaco, monospace;
}

input,
select,
textarea,
button {
  font-family:inherit;
}

#middle {
  position:absolute;
  top:0px;
  height:100%;
}

#bottom {
  position:absolute;
  left:0px;
  height:35%;
}

.canvas,
.terminal,
.menu {
  height: inherit;
}

.canvas {
  position : fixed;
  left:0px;
  width: 65%;
  background-color: black;
}

#console{
  height: 95%;
  word-wrap: normal;
  text-align: left;
}

#prompt{
  height:15px;
}

.menu {
  position: fixed;
  bottom:0px;
  width:100%;
  background-color: darkGray;
}

#console,
#prompt {
  width: 99%;
  background-color: inherit;
  resize: none;
  color: skyblue;
}

.terminal {
  position : fixed;
  right:0px;
  width: 35%;
  height:inherit;
  background-color: black;
}
